<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Azure Gaze</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <%- include('./partials/style.ejs') %>
    </head>
    <body id="main-body">
        <%- include('./partials/navbar') %>
        <section id="prof">
            <img id="profile" src="Images/profile.png" alt="..." />
        </section>

        <img
            onclick="redirectColdMorning()"
            id="art"
            src="Images/cold-morning.png"
            alt="..."
        /><img
            onclick="redirectWaterfall()"
            id="art"
            src="Images/waterfall.PNG"
            alt=""
        /><img
            onclick="redirectCityNight()"
            id="art"
            src="Images/city-night-walk.png"
            alt="..."
        />
        <img
            onclick="redirectSpringtime()"
            id="art"
            src="Images/springtime.png"
            alt="..."
        /><img
            onclick="redirectWander()"
            id="art"
            src="Images/wander.png"
            alt=""
        /><img
            onclick="redirectSleep()"
            id="art"
            src="Images/sleep-deprived.png"
            alt="..."
        /><img onclick="" id="art" src="Images/reminiscing.png" alt="..." /><img
            onclick=""
            id="art"
            src="Images/hey-there.png"
            alt="..."
        /><img onclick="" id="art" src="Images/blue-nostalgia.png" alt="..." />

        <section id="SlideShowContainer">
            <img id="slide" class="SlideShow" src="Images/cold-morning.PNG" />

            <img id="slide" class="SlideShow" src="Images/waterfall.PNG" />
            <img
                id="slide"
                class="SlideShow"
                src="Images/city-night-walk.png"
            />
            <img id="slide" class="SlideShow" src="Images/springtime.PNG" />
            <img id="slide" class="SlideShow" src="Images/wander.png" />
            <img id="slide" class="SlideShow" src="Images/sleep-deprived.png" />
            <img id="slide" class="SlideShow" src="Images/reminiscing.png" />
            <img id="slide" class="SlideShow" src="Images/hey-there.png" />
            <img id="slide" class="SlideShow" src="Images/blue-nostalgia.png" />
        </section>

        <%- include('./partials/footer') %>
        <script src="javascripts/redirect.js"></script>
        <script src="../javascripts/transition.js" async defer></script>
    </body>
</html>
