<div class="header">
    <h1 style="background-color: rgba(167, 255, 223, 0.6); border-radius: 10%">
        Azure Gaze
    </h1>
    <p
        style="
            font-size: 30px;
            background-color: rgba(167, 255, 223, 0.8);
            border-radius: 10%;
            color: black;
            font-weight: 500;
        "
    >
        Welcome!
    </p>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a
                    class="nav-link active"
                    aria-current="page"
                    href="https://soundcloud.com/azuregaze"
                    ><svg
                        class="mr-2"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="50"
                        height="50"
                        viewBox="0 0 226 226"
                        style="fill: #000000"
                    >
                        <g
                            fill="none"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <path d="M0,226v-226h226v226z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M135.6,49.72c-16.27906,0 -31.64,8.08656 -40.68,21.1875v15.82l1.4125,0.98875l1.695,-4.52c6.32094,-14.91953 21.32875,-24.43625 37.14875,-24.43625c22.6,0 40.68,18.08 40.68,40.68v9.04l6.78,-2.68375c3.16047,-1.35953 6.30328,-1.83625 9.46375,-1.83625c13.56,0 24.86,11.3 24.86,24.86c0,13.56 -11.3,24.86 -24.86,24.86h-97.18v9.04h97.18c18.53906,0 33.9,-15.36094 33.9,-33.9c0,-18.53906 -15.36094,-33.9 -33.9,-33.9c-2.26,0 -4.52,0.38844 -6.78,0.8475c-2.26,-25.76047 -23.50047,-46.0475 -49.72,-46.0475zM76.84,72.32c-3.16047,0 -6.32094,0.38844 -9.04,0.8475v89.5525h9.04zM81.36,72.32v90.4h9.04v-88.14c-2.71906,-0.90047 -5.87953,-1.80094 -9.04,-2.26zM63.28,74.58c-3.16047,1.35953 -6.32094,2.71906 -9.04,4.52v83.62h9.04zM49.72,82.7725c-3.61953,3.16047 -6.78,7.20375 -9.04,11.72375v68.22375h9.04zM29.38,99.44c-0.79453,0.05297 -1.58906,0.19422 -2.26,0.42375v62.4325c1.35953,0.45906 3.16047,0.42375 4.52,0.42375h4.52v-62.85625c-1.35953,-0.45906 -3.16047,-0.42375 -4.52,-0.42375c-0.67094,0 -1.46547,-0.05297 -2.26,0zM22.6,100.8525c-3.16047,0.90047 -6.32094,2.26 -9.04,4.52v51.415c2.71906,1.80094 5.87953,3.61953 9.04,4.52zM9.04,108.90375c-5.42047,5.87953 -9.04,13.59531 -9.04,22.17625c0,8.58094 3.61953,16.29672 9.04,22.17625z"
                                ></path>
                            </g>
                        </g></svg
                    >Soundcloud</a
                >
                <a
                    class="nav-link active"
                    href="https://open.spotify.com/artist/2owJVITRvlwCfz2vPLxS5S"
                    ><svg
                        class="mr-2"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="50"
                        height="50"
                        viewBox="0 0 172 172"
                        style="fill: #000000"
                    >
                        <g
                            fill="none"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M86,14.33333c-39.51676,0 -71.66667,32.14993 -71.66667,71.66667c0,39.51673 32.1499,71.66667 71.66667,71.66667c39.51676,0 71.66667,-32.14993 71.66667,-71.66667c0,-39.51673 -32.1499,-71.66667 -71.66667,-71.66667zM86,25.08333c33.70704,0 60.91667,27.20965 60.91667,60.91667c0,33.70702 -27.20963,60.91667 -60.91667,60.91667c-33.70704,0 -60.91667,-27.20965 -60.91667,-60.91667c0,-33.70702 27.20963,-60.91667 60.91667,-60.91667zM75.62093,57.17936c-2.55722,0.0326 -5.11313,0.15348 -7.66357,0.36393c-6.8012,0.56121 -13.56158,1.75763 -20.18425,3.58333c-1.91196,0.45556 -3.42287,1.9183 -3.94011,3.8145c-0.51725,1.89621 0.04164,3.92354 1.45746,5.28685c1.41581,1.36331 3.46281,1.84522 5.33813,1.25672c23.89099,-6.58617 49.79201,-4.04142 72.14258,7.61458c1.70665,0.92522 3.77956,0.85838 5.42306,-0.17486c1.6435,-1.03325 2.60221,-2.87235 2.50813,-4.81138c-0.09407,-1.93903 -1.22631,-3.67669 -2.96211,-4.54599c-16.2743,-8.48717 -34.21877,-12.61587 -52.1193,-12.38769zM76.3558,78.86833c-2.0911,0.01533 -4.18447,0.10211 -6.27083,0.25895c-5.56363,0.41823 -11.0943,1.33929 -16.52393,2.76449c-1.91248,0.43699 -3.43503,1.88111 -3.97247,3.76783c-0.53743,1.88671 -0.00439,3.91638 1.39075,5.29555c1.39514,1.37917 3.43081,1.88881 5.31121,1.32969c19.18166,-5.03489 39.85968,-2.95199 57.80925,6.24284c1.71442,0.9247 3.79495,0.84959 5.43823,-0.19632c1.64328,-1.04592 2.59218,-2.89897 2.48029,-4.84366c-0.11189,-1.94469 -1.26704,-3.67669 -3.01944,-4.52724c-13.34939,-6.83835 -28.00538,-10.19942 -42.64306,-10.09212zM77.20964,100.39632c-1.59681,-0.0038 -3.19267,0.04164 -4.78711,0.13998c-4.25183,0.26223 -8.48744,0.88696 -12.65365,1.87565c-1.91348,0.40064 -3.4586,1.80852 -4.03498,3.6766c-0.57638,1.86808 -0.09313,3.9018 1.26196,5.31092c1.3551,1.40912 3.36838,1.97147 5.25755,1.46854c14.25933,-3.38391 29.46832,-1.78822 42.83203,4.77311c1.72409,0.84693 3.76908,0.70956 5.36441,-0.36034c1.59534,-1.0699 2.49858,-2.90973 2.36938,-4.82626c-0.12919,-1.91653 -1.27118,-3.6185 -2.99568,-4.4646c-10.26361,-5.03924 -21.43624,-7.56696 -32.61393,-7.59359z"
                                ></path>
                            </g>
                        </g></svg
                    >Spotify</a
                >
                <a
                    class="nav-link active"
                    href="https://www.instagram.com/azuregazemusic/?hl=en"
                    ><svg
                        class="mr-2"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="50"
                        height="50"
                        viewBox="0 0 172 172"
                        style="fill: #000000"
                    >
                        <g
                            fill="none"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M59.125,17.91667c-22.72192,0 -41.20833,18.48642 -41.20833,41.20833v53.75c0,22.72192 18.48642,41.20833 41.20833,41.20833h53.75c22.72192,0 41.20833,-18.48642 41.20833,-41.20833v-53.75c0,-22.72192 -18.48642,-41.20833 -41.20833,-41.20833zM121.83333,43c3.95958,0 7.16667,3.20708 7.16667,7.16667c0,3.956 -3.20708,7.16667 -7.16667,7.16667c-3.95958,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.95958 3.20708,-7.16667 7.16667,-7.16667zM86,50.16667c19.7585,0 35.83333,16.07483 35.83333,35.83333c0,19.7585 -16.07483,35.83333 -35.83333,35.83333c-19.7585,0 -35.83333,-16.07483 -35.83333,-35.83333c0,-19.7585 16.07483,-35.83333 35.83333,-35.83333zM86,60.91667c-13.85314,0 -25.08333,11.23019 -25.08333,25.08333c0,13.85314 11.23019,25.08333 25.08333,25.08333c13.85314,0 25.08333,-11.23019 25.08333,-25.08333c0,-13.85314 -11.23019,-25.08333 -25.08333,-25.08333z"
                                ></path>
                            </g>
                        </g></svg
                    >Instagram</a
                >
                <a
                    class="nav-link active"
                    href="https://music.apple.com/ca/artist/azure-gaze/1508723664"
                    ><svg
                        class="mr-1"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="50"
                        height="50"
                        viewBox="0 0 172 172"
                        style="fill: #000000"
                    >
                        <g
                            fill="none"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M137.6,22.93333h-103.2c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v103.2c0,6.33533 5.13133,11.46667 11.46667,11.46667h103.2c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-103.2c0,-6.33533 -5.13707,-11.46667 -11.46667,-11.46667zM120.4,105.7972c0,6.49013 -5.24027,14.534 -17.19427,14.534c-10.67547,0 -13.37587,-6.8456 -13.37587,-11.46093c0,-5.68173 3.42853,-11.49533 13.38733,-11.4896c9.01853,0 9.54027,-2.29907 9.54027,-6.83987v-23.09387l-42.03107,6.85133c0,0 0,34.19933 0,38.02347c0,6.49013 -5.24027,13.81733 -17.19427,13.81733c-10.67547,0 -13.37587,-6.8456 -13.37587,-11.46093c0,-5.68173 3.42853,-11.49533 13.38733,-11.49533c9.01853,0 9.54027,-2.29907 9.54027,-6.83987c0,-12.67067 0,-39.0096 0,-39.0096c0,-1.892 1.39893,-3.3884 3.1992,-3.698l49.8112,-7.73427c0,0 0.33253,-0.02867 0.48733,-0.02867c2.10987,-0.00573 3.8184,1.7028 3.8184,3.81267c0,0 0,52.29373 0,56.11213z"
                                ></path>
                            </g>
                        </g></svg
                    >Apple Music</a
                >
                <a
                    class="nav-link active"
                    href="https://www.facebook.com/azuregazemusic/"
                    ><svg
                        class="mr-2"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="50"
                        height="50"
                        viewBox="0 0 172 172"
                        style="fill: #000000"
                    >
                        <g
                            fill="none"
                            fill-rule="nonzero"
                            stroke="none"
                            stroke-width="1"
                            stroke-linecap="butt"
                            stroke-linejoin="miter"
                            stroke-miterlimit="10"
                            stroke-dasharray=""
                            stroke-dashoffset="0"
                            font-family="none"
                            font-weight="none"
                            font-size="none"
                            text-anchor="none"
                            style="mix-blend-mode: normal"
                        >
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#ffffff">
                                <path
                                    d="M86,0c-47.4935,0 -86,38.5065 -86,86c0,43.11467 31.76267,78.71867 73.143,84.93933v-62.14933h-21.27783v-22.60367h21.27783v-15.04283c0,-24.90417 12.13317,-35.83333 32.8305,-35.83333c9.9115,0 15.1575,0.73817 17.63717,1.06783v19.72983h-14.11833c-8.78633,0 -11.85367,8.33483 -11.85367,17.72317v12.35533h25.74983l-3.49017,22.60367h-22.25967v62.3285c41.97517,-5.69033 74.36133,-41.581 74.36133,-85.1185c0,-47.4935 -38.5065,-86 -86,-86z"
                                ></path>
                            </g>
                        </g></svg
                    >facebook</a
                >
            </div>
            <div class="navbar-nav ml-auto">
                <a id="owner" class="nav-link active" href="/login">Login</a>
                <a id="owner" class="nav-link active" href="/register"
                    >Register</a
                >
            </div>
        </div>
    </div>
</nav>
