i {
    color: white;
}

body,
h6,
a {
    font-size: 100%;
    /* font-family: Geneva, Geneva, sans-serif; */

    font-family: "Raleway", sans-serif;
}

#main-body,
#login-body,
#register-body {
    background-color: #414141;
}

/* #the-head {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.header {
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;
    background-image: url("../Images/cover.png");
    font-family: Raleway, sans-serif;
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
}

.header div {
    padding: 5%;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0 0.3em 0.3em -0.2em black;
}

.header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(167, 255, 223, 0.8);
    border-radius: 10%; */
    font-weight: bold;
    font-size: 200%;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-weight: bold;
    /* background-color: rgba(167, 255, 223, 0.6);
    border-radius: 10%; */
}

.small-icon {
    border-radius: 50%;
}

/*style top navigation bar*/
.navbar {
    background-color: #333333;
}

.nav-link {
    color: azure;
}
/*Change color of box on mouse-over*/
.nav-link:hover {
    background-color: #dddddd;
    color: black;
}
s
/* Content Boxes */
* {
    box-sizing: border-box;
}
#flash {
    margin-top: calc(10% / 6);
}
#art {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    margin: calc(10% / 6);
}
#art:hover {
    border-color: black;
    color: white;
    /* box-shadow: x-offset| y-offset| blur-radius| spread-radius| color */
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    cursor: pointer;
}

#SlideShowContainer {
    display: block;
    margin: calc(10% / 6);
    border-radius: 10px;
    border: 1px solid black;
}

#slide {
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prof {
    margin: calc(10% / 6);
    margin-bottom: auto;
    margin-top: auto;
}
#profile {
    display: block;
    border-radius: 50%;
    width: 20%;
    border: 2px solid black;
    margin: auto;
}

#error-sign {
    border-color: rgb(244, 220, 221);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.footer {
    border-top: 1px solid #414141;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: right;
    text-align: right;
    background: bottom/cover url("../Images/cover.png");
}

#register-login-container {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
    background-color: rgba(240, 255, 255, 0.8);
    box-shadow: 0 0.5em 0.5em -0.4em black;
}

#register-login-container .mb-3 {
    display: block;
    margin: auto;
}

#register-login-container .btn {
    font-size: 20px;
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(to left, #00ffb39d, #00ffb39d);
    box-shadow: 0 0.5em 0.5em -0.4em black;
}

#back-to-main {
    border-style: solid;
    border-color: rgb(90, 90, 90);
    border-radius: 50px;
    background: linear-gradient(to left, #ff2abfa8, #ff2abfa8);
}
#back-to-main:hover {
    background: linear-gradient(to left, #6e004da8, #6e004da8);
}

#register-login-container #cancel {
    background: linear-gradient(to left, #ff3c5da8, #ff3c5da8);
}

#register-login-container #cancel:hover {
    background: linear-gradient(to left, #630010a8, #630010a8);
    cursor: pointer;
}

#register-login-container #cancel:active {
    transform: translateY(4px);
    cursor: pointer;
}

#register-login-container .btn:hover {
    background: linear-gradient(to left, #01b37da8, #01b37da8);
    cursor: pointer;
}

#register-login-container .btn:active,
#cancel:active {
    transform: translateY(4px);
    cursor: pointer;
}

#submit {
    border-radius: 50px;
    background: #00c096a8;
}
#submit:hover {
    background: #003a2da8;
}
#register-login-container h2 {
    padding: 20px;
    text-align: center;
}

/* Adapt Website screen to any changes on browser window size */
/* Change screen arrangement to column when window's width reach 700px */
@media screen and (max-width: 991px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 1054px) {
    #social,
    #owner {
        flex-direction: column;
    }
}

/* Minimum window's width */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
