i {
    color: white;
}

body,
h6,
a {
    font-size: 100%;
    font-family: Geneva, Geneva, sans-serif;
}

.header {
    padding: 80px;
    text-align: center;
    background: center/cover url("../Images/cover.png");
    color: black;
}
.header h1 {
    font-size: 60px;
}

/*style top navigation bar*/
.navbar {
    background-color: #333333;
}

/*Change color of box on mouse-over*/
.nav-link:hover {
    background-color: #dddddd;
    color: black;
}

/* Content Boxes */
* {
    box-sizing: border-box;
}

#art {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    margin: calc(10% / 6);
}
#art:hover {
    border-color: black;
    color: white;
    /* box-shadow: x-offset| y-offset| blur-radius| spread-radius| color */
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: calc(10% / 6);
}

#SlideShowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    border: 1px solid black;
    margin: calc(10% / 6);
}

#error-sign {
    border-color: rgb(244, 220, 221);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.footer {
    padding: 20px;
    text-align: right;
    background: cadetblue;
}

#register-login-container {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
}

#register-login-container .mb-3 {
    display: block;
    margin: auto;
}

#register-login-container .btn {
    display: block;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background: linear-gradient(to left, #00cc8fa8, #00ffb39d);
    box-shadow: 0 0.5em 0.5em -0.4em black;
}
#register-login-container #cancel {
    background: linear-gradient(to left, #dd0025a8, #ff3c5da8);
}

#register-login-container #cancel:hover {
    background: linear-gradient(to left, #630010a8, #ee0028a8);
    cursor: pointer;
}

#register-login-container #cancel:active {
    transform: translateY(4px);
    cursor: pointer;
}

#register-login-container .btn:hover {
    background: linear-gradient(to left, #01b37da8, #00d1929d);
    cursor: pointer;
}

#register-login-container .btn:active,
#cancel:active {
    transform: translateY(4px);
    cursor: pointer;
}

#register-login-container h2 {
    padding: 20px;
    text-align: center;
}

/* Adapt Website screen to any changes on browser window size */
/* Change screen arrangement to column when window's width reach 700px */
@media screen and (max-width: 991px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 1054px) {
    #social,
    #owner {
        flex-direction: column;
    }
}

/* Minimum window's width */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
